.btn-group role="group" aria-label="Basic radio toggle button group"
  - under_moderation = (params.dig(:q, :state_eq) == 'under_moderation')
  - all_bulletins_active = !under_moderation && current_page?(admin_path)
  - categories_active = current_page?(admin_categories_path)

  = link_to t('.under_moderation'),
    admin_path(q: { state_eq: :under_moderation }),
    class: "btn btn-outline-primary #{'active' if under_moderation}",
    role: 'button'
  = link_to t('.all_bulletins'),
    admin_path,
    class: "btn btn-outline-primary #{'active' if all_bulletins_active}",
    role: 'button'
  = link_to t('.categories'),
    admin_categories_path,
    class: "btn btn-outline-primary #{'active' if categories_active}",
    role: 'button'
